<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启Spring注解驱动（@Autowired、@Resource、@PostConstruct等注解生效） -->
    <context:annotation-config/>
    
	<!-- root上下文只扫描service/mapper，排除controller -->
	<context:component-scan base-package="cn.jp.myTest.webTable.service,cn.jp.myTest.webTable.mapper">
	    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>


	<!-- applicationContext.xml 添加国际化 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
	    <property name="basename" value="ApplicationResources"/>
	    <property name="defaultEncoding" value="UTF-8"/>
	</bean>
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>

</beans>



